html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', Verdana, sans-serif;;
  font-style: normal;
  color: $font-main;
  background-color: $creamy;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
}