.slide-bounce-enter-active {
  animation: bounce-down 0.5s;
}

@keyframes bounce-down {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}