// sizes
$maxwidth: 1300px;

// colors
$creamy: rgba(255, 254, 251, 0.8);
$whitey: #fffefb;
$salmon: #ff8484;
$font-main: #3f3f3f;
$font-form: #49485e;

// decoration
$bradius: 0.25rem;
$boxshadow: 0px 1.25rem 1.875rem rgba(0, 0, 0, 0.04), 0rem 0.375rem 0.625rem rgba(0, 0, 0, 0.02);
