// sizes
$maxwidth: 1300px;

// colors
$creamy: #faf9f7;
$whitey: #fffefb;
$salmon: #ff8484;
$green: #7bae73;
$yellow: #ffcb5b;
$font-main: #3f3f3f;
$font-form: #49485e;
$font-disabled: #B4B4B4;
$button-disabled: #EEEEEE;
$focused: #007be5;

// decoration
$bradius: 0.25rem;
$boxshadow: 0px 1.25rem 1.875rem rgba(0, 0, 0, 0.04), 0rem 0.375rem 0.625rem rgba(0, 0, 0, 0.02);
$buttonshadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
